<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448677778827-aqt7i3mdcc1rhvvrok99ulpkvea2guio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448677778827-aqt7i3mdcc1rhvvrok99ulpkvea2guio</string>
	<key>API_KEY</key>
	<string>AIzaSyBZXuxW8rvIAC2Ngu0SJrDymtobmr3tEGk</string>
	<key>GCM_SENDER_ID</key>
	<string>448677778827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-us-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-us-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448677778827:ios:9eee097d53402fe5b1cb8e</string>
</dict>
</plist>